.backgroundUrl{
    background: url("../../assets/img/vente.png");
    background-size: 100vw;
    height: 109vh;
    width : 100%;
}


.container-fluid{
    padding: 0;
}

.margeCard{
    margin-bottom: 100px;
}






