{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <h1 class="my-4 text-center">Inscrivez-vous</h1>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}